@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
@import url('nord.css');

h1 {
    text-align: center;
    font-family: 'Fira Code', sans-serif;
    font-weight: 600;
}
p {
    font-family: 'Fira Code', sans-serif;
    font-size: 170%;
    font-weight: 400;
    text-align: center;
}
.crossedout {
    text-decoration: line-through;
}

.grid-container {
    display: grid;
    align-self: center;
    grid-template-columns: 33% 34% 33%;
}

.grid-item {
    background-color: var(--nord9);
    border-radius: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    font-family: 'Fira Code', sans-serif;
    font-weight: 600;
    font-size: 2.5ch;
    margin: 5px;
}

.hv {
    transition-duration: 0.4s;
}
.grid-item:hover {
    box-shadow: 5px 5px 20px 0px var(--nord3);
}
.grid-item:active {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: var(--nord0);
}

img {
    width: 20%;
    border-radius: 10%;
}
.description {
    font-family: 'Fira Code', sans-serif;
    font-weight: 400;
    color: var(--nord1);
    padding-left: 8px;
    padding-right: 8px;
}
hr {
    width: 100%;
    height: 10px;
    color: var(--nord3);
    background-color: var(--nord3);
    border-radius: 14px;
}
b {
    font-family: 'Fira Code', sans-serif;
}
#media {
    font-size: 20px;
}
body {
    color: var(--nord0);
    background-color: var(--nord4);
    padding-left: 20%;
    padding-right: 20%;
}