/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
@import url('fonts/SFUI/style.css');

:root {
    --black: #0D1B2A;
    --db: #1B263B;
    --mb: #415A77;
    --lb: #778DA9;
    --white: #E0E1DD;
}

h1 {
    text-align: center;
    font-family: 'Fira Code','Montserrat', sans-serif;
    font-weight: 600;
}
p {
    font-family: 'Fira Code','SF UI Display', 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 170%;
    font-weight: 400;
    text-align: center;
}
.crossedout {
    text-decoration: line-through;
}

.grid-container {
    display: grid;
    align-self: center;
    grid-template-columns: 33% 34% 33%;
}

.grid-item {
    background-color: var(--lb);
    border-radius: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    font-family: 'Fira Code','Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5ch;
    margin: 5px;
}

.hv {
    transition-duration: 0.4s;
}
.grid-item:hover {
    box-shadow: 5px 5px 20px 0px var(--mb);
}
.grid-item:active {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: var(--black);
}

img {
    width: 20%;
    border-radius: 10%;
}
.description {
    font-family: 'Fira Code','Montserrat', sans-serif;
    font-weight: 400;
    color: var(--db);
    padding-left: 8px;
    padding-right: 8px;
}
hr {
    width: 100%;
    height: 10px;
    color: var(--db);
    background-color: var(--db);
    border-radius: 14px;
}
b {
    font-family: 'Fira Code';
}
#media {
    font-size: 20px;
}
body {
    background-color: var(--white);
    padding-left: 20%;
    padding-right: 20%;
}